ul li {
	list-style-type: none;
}

.toggle-input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
.toggle-input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
.toggle-input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.toggle-input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
.toggle-input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease; outline:none;}
.toggle-input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease; outline:none;}
.toggle-input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease; outline:none;}
.toggle-input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease; outline:none;}


.input-textarea {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  width: 300px; /* Ширина поля с кнопкой */
  border: 1px solid #000; /* Параметры рамки */
  min-height: 20px; /* Минимальная высота */

  overflow:hidden;
}

.input-textarea > input {
    padding-right: 10px;
}

.toggle-input {
	border: none;
	outline:none;
	 display:inline-block;
}
/*сделать изменяемый размер холдера*/
input[type="text"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 50px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
    display:inline-block;
}

.input-textarea >[data-clear-input] {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0 0.2em;
  line-height: 1em;
  cursor: pointer;
}
.input-textarea > input::-ms-clear {
    text-indent: 0px;   transition: text-indent 0.3s ease;
    display: none;
}

span.tag {
    display:inline-block;
    border: 1px solid #000;
    margin: 2px
}